<div style="display: flex; justify-content: center; width: 100%;">
    <div style="display: flex; flex-wrap: wrap; gap: 30px; justify-content: center; align-items: center;">
        <div style="background-color: dodgerblue; width: 15%; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a asp-controller="Bakjes" asp-action="DierenIndex"><img src="@Url.Content("~/Images/Bakjes/paw.png")" style="width: 85px;" /></a>
            <a asp-controller="Bakjes" asp-action="DierenIndex" class="nav-link text-dark"><h3 style="color: white;" class="mt-4">Dieren</h3></a>
        </div>

        <div style="background-color: purple; width: 15%; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a asp-controller="Bakjes" asp-action="VerzorgenIndex"><img src="@Url.Content("~/Images/Bakjes/feeding.png")" style="width: 85px;" /></a>
            <a asp-controller="Bakjes" asp-action="VerzorgenIndex" class="nav-link text-dark"><h3 style="color: white;" class="mt-4">Verzorgen</h3></a>
        </div>

        <div style="background-color: green; width: 15%; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a asp-controller="Bakjes" asp-action="TuinIndex"><img src="@Url.Content("~/Images/Bakjes/gardening.png")" style="width: 85px;" /></a>
            <a asp-controller="Bakjes" asp-action="TuinIndex" class="nav-link text-dark"><h3 style="color: white;" class="mt-4">Tuin</h3></a>
        </div>

        <div style="background-color: orange; width: 15%; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a asp-controller="Bakjes" asp-action="LandIndex"><img src="@Url.Content("~/Images/Bakjes/wheel-barrow.png")" style="width: 85px;" /></a>
            <a asp-controller="Bakjes" asp-action="LandIndex" class="nav-link text-dark"><h3 style="color: white;" class="mt-4">Land</h3></a>
        </div>

        <div style="background-color: indianred; width: 15%; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a asp-controller="Bakjes" asp-action="TijdenIndex"><img src="@Url.Content("~/Images/Bakjes/wall-clock.png")" style="width: 85px;" /></a>
            <a asp-controller="Bakjes" asp-action="TijdenIndex" class="nav-link text-dark"><h3 style="color: white;" class="mt-4">Tijden</h3></a>
        </div>

        <div style="background-color: yellow; width: 15%; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a asp-controller="Bakjes" asp-action="CorveeIndex"><img src="@Url.Content("~/Images/Bakjes/broom.png")" style="width: 85px;" /></a>
            <a asp-controller="Bakjes" asp-action="CorveeIndex" class="nav-link text-dark"><h3 style="color: black;" class="mt-4">Corvee</h3></a>
        </div>

        <div style="background-color: red; width: 15%; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a asp-controller="Bakjes" asp-action="CreatiefIndex"><img src="@Url.Content("~/Images/Bakjes/creativity.png")" style="width: 85px;" /></a>
            <a asp-controller="Bakjes" asp-action="CreatiefIndex" class="nav-link text-dark"><h3 style="color: white;" class="mt-4">Creatief</h3></a>
        </div>

        <div style="background-color: grey; width: 15%; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a asp-controller="Bakjes" asp-action="SchuurIndex"><img src="@Url.Content("~/Images/Bakjes/shed.png")" style="width: 85px;" /></a>
            <a asp-controller="Bakjes" asp-action="SchuurIndex" class="nav-link text-dark"><h3 style="color: white;" class="mt-4">Schuur</h3></a>
        </div>

        <div style="background-color: black; width: 15%; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a asp-controller="Bakjes" asp-action="KlussenIndex"><img src="@Url.Content("~/Images/Bakjes/hammer.png")" style="width: 85px;" /></a>
            <a asp-controller="Bakjes" asp-action="KlussenIndex" class="nav-link text-dark"><h3 style="color: white;" class="mt-4">Klussen</h3></a>
        </div>
    </div>
</div>
