@model Zorgboerderij.Entities.Clienten

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-center">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="persid" />

            <div class="form-group mb-3">
                <label asp-for="Voornaam" class="control-label text-primary"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Achternaam" class="control-label text-primary"></label>
                <input asp-for="Achternaam" class="form-control" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FotoFile" class="control-label text-primary"></label>
                <select class="form-select" asp-for="FotoFile">
                    <option value="Davy.jpg">Davy</option>
                    <option value="Eric S.jpg">Eric</option>
                    <option value="Walter.jpg">Walter</option>
                    <option value="Qutaiba.jpg">Qutaiba</option>
                </select>
                <span asp-validation-for="FotoFile" class="text-danger"></span>
            </div>

            @foreach (var dag in new[] { "Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag" })
            {
                <div class="form-group mb-3">
                    <label class="control-label text-primary">@dag</label>
                    <div>
                        <label class="text-success">
                            <input type="radio" name="@dag" value="O" @(Model.GetType().GetProperty(dag).GetValue(Model, null)?.ToString() == "O" ? "checked" : "") /> Ochtend
                        </label>
                        <label class="text-warning">
                            <input type="radio" name="@dag" value="M" @(Model.GetType().GetProperty(dag).GetValue(Model, null)?.ToString() == "M" ? "checked" : "") /> Middag
                        </label>
                        <label class="text-primary">
                            <input type="radio" name="@dag" value="H" @(Model.GetType().GetProperty(dag).GetValue(Model, null)?.ToString() == "H" ? "checked" : "") /> Hele dag
                        </label>
                        <label class="text-danger">
                            <input type="radio" name="@dag" value="Geen" @(Model.GetType().GetProperty(dag).GetValue(Model, null)?.ToString() == "X" ? "checked" : "") /> Afwezig
                        </label>
                    </div>

                    <span asp-validation-for="@dag" class="text-danger"></span>
                </div>
            }

           
            <div class="form-group mb-3">
                <label asp-for="Goepskleur" class="control-label text-primary"></label>
                <select class="form-select" asp-for="Goepskleur">
                    <option value="Geel">Geel</option>
                    <option value="Rood">Rood</option>
                    <option value="Blauw">Blauw</option>
                </select>
                <span asp-validation-for="Goepskleur" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Client bewerken" class="btn btn-success w-100 mb-2" />
                <p class="text-center"><a asp-action="Index" class="nav-link text-dark">Terug</a></p>
            </div>
        </form>
    </div>
</div>
